.container{
    display: flex;
    background: linear-gradient(to right, #ccf805, #2ac715);
    gap: 10px;
    width: 100%;
    border-radius: 10px;
    
    
  
    
   
}

.nav{
   display: flex;
    margin-left: 42%;
    margin: 10px;
    

}
 
.aboutLi{
    list-style-type: none;
    
    width: 90px;
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-size: 25px;
    border-radius: 5px;
    color: rgb(26, 25, 25);
    margin-left: -140px;
    
}
.aboutLi:hover{
    border: 1px solid black
}
.homeLi{
    list-style-type: none;
    
    width: 90px;
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-size: 25px;
    border-radius: 5px;
    color: rgb(31, 30, 30);
    margin-left: -200px;
}
.homeLi:hover{
    border: 1px solid black
}

.home{
    text-decoration: none;
    
}

.home:hover{
  
    cursor: pointer;
}

.Rm{
    width: 55px;
    margin-top: 5px;
    margin: -45px;
    margin-left: -260px;
}
.containerButton {
    position: absolute;
    top: 30px;
    left: 1500px;
    right: 0;
    bottom: 0;
   
   
    align-items: center;
    padding: 10px;
  }
  
  .logout {
    background-color: rgb(227, 243, 5);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: monospace;
  }

  .logout:hover{
    background-color: rgb(37, 37, 37);
    color: #ccf805;
  }